@import url('https://fonts.googleapis.com/css2?family=Asap+Condensed:ital,wght@0,400;0,700;1,400;1,800&display=swap');


/* Optional DSGVO-konform -------------------------------------------------- */
/* @font-face {
    font-family: 'Asap Condensed';
    src: url('../font/AsapCondensed-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Asap Condensed';
    src: url('../font/AsapCondensed-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Asap Condensed';
    src: url('../font/AsapCondensed-ExtraBoldItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Asap Condensed';
    src: url('../font/AsapCondensed-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;

} */
/* ------------------------------------------------------------------------- */

:root {
    --customRed: #E00A1C;
    --customYellow: #F9EA2E;
    --cusotmBlueOne: #1487E0;
    --customBlueTwo: #5B1FE0;
    --customBGgradient: linear-gradient(.75turn, var(--cusotmBlueOne), var(--customBlueTwo));
    --customGlas: hsla(1, 0%, 100%, .5);
    --defaultBorderRadius: .5rem;

}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: 'Asap Condensed', sans-serif;
    font-size: 10px;
    padding: 0;
    margin: 0;
}

body > * {
    font-size: 1.2rem;
}

#pageWrapper {
    max-width: 1200px;
    margin: 0 auto;

    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: repeat(5, auto);
}

#pageWrapper > * {
    padding: 0 1rem;
}


/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* Anordnung der #pageWrapper-Elemente */

header#pageHeader {
    display: none;

    padding: 2rem 0;

    opacity: 0;
    transition: all 250ms ease-in-out;
}

.logoLink {
    display: block;
}

header img {
    width: clamp(10rem, 30vw, 20rem);
}

nav {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
}

aside {
    grid-column: 1 / 3;
    grid-row: 2 / 3;

    background-color: white;
}

main {
    grid-column: 1 / 3;
    grid-row: 3 / 5;

    background-color: white;
}

footer {
    grid-column: 1 / 3;

    background-color: white;
}


/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* Konfiguration des #importantContainer */

#importantContainer {
    position: fixed;
    top: 10rem;
    right: -15rem;

    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: repeat(2, auto);

    padding: 0 1rem;

    color: var(--customYellow);

    transition: right 250ms ease-in-out;
}
#importantContainer strong{
    font-size: 1.75rem;
}

#impCSwitch {
    position: relative;
    grid-column: 1 / 2;
    grid-row: 1 / 2;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    cursor: pointer;

    background-color: var(--customRed);
    border-radius: var(--defaultBorderRadius) 0 0 var(--defaultBorderRadius);
}

#impCSwitch::after {
    content: '';
    position: absolute;
    width: 2.5rem;
    height: 2.5rem;
    background-color: transparent;
    border-radius: 50%;
    right: 0rem;
    bottom: -2.5rem;
    box-shadow: 1rem -1rem var(--customRed);
}

#impCSwitch * {
    pointer-events: none;
}

#impCSwitch > img {
    width: 3rem;
    margin: 0;
}

#impCSwitch > div {
    font-size: 1.5rem;
    font-weight: 700;
}

#impContent {
    grid-column: 2 / 3;
    grid-row: 1 / 3;

    padding: 0 0 0 1rem;

    background-color: var(--customRed);
    border-radius: 0 var(--defaultBorderRadius) var(--defaultBorderRadius) var(--defaultBorderRadius);
}


/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* Konfiguration der primären Seitennavigation */

nav {
    position: sticky;
    top: 0;

    background-color: var(--customGlas);
    -webkit-backdrop-filter: blur(1rem);
    backdrop-filter: blur(1rem);
    border-radius: 0 0 var(--defaultBorderRadius) var(--defaultBorderRadius);
    box-shadow: 0 .1rem .5rem var(--customRed);
}

#navButton {
    position: relative;
    left: 1rem;
    top: 1rem;
    width: 4rem;
    height: 4rem;

    background-color: white;

    border: solid .2rem var(--customRed);
    border-radius: var(--defaultBorderRadius);

    cursor: pointer;
    z-index: 2;
}

#buttonElement {
    position: absolute;
    width: 3.5rem;
    height: .6rem;
    
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    background-color: var(--customBlueTwo);
    border-radius: .2rem;
}

#buttonElement::before,
#buttonElement::after {
    content: '';
    position: absolute;

    width: 100%;
    height: 100%;
    
    background-color: var(--customBlueTwo);
    border-radius: .2rem;
}

#buttonElement::before {
    top: -150%;

}

#buttonElement::after {
    top: 150%;

}

#buttonElement,
#buttonElement::before,
#buttonElement::after {
    transition: background-color 250ms ease-in-out;
    pointer-events: none;
}

#navButton:hover > #buttonElement,
#navButton:hover > #buttonElement::before,
#navButton:hover > #buttonElement::after {
    background-color: var(--customRed);
}

#pageNav {
    /* height: 0; */

    list-style: none;
    padding: 0 1rem 0 1rem;

    display: flex;
    justify-content: center;
    flex-direction: column;
    
    transition: height 250ms ease-in-out;
    overflow: hidden;
}

.pageNavLink {
    display: block;

    font-size: 2.25rem;
    font-weight: 700;
    text-decoration: none;
    line-height: 1.5em;

    border-bottom: solid .2rem transparent;

    transition: color 250ms ease-in-out, border 250ms ease-in-out;
}

.pageNavLink:link,
.pageNavLink:visited {
    color: var(--cusotmBlueOne);
}

.pageNavLink:hover {
    color: var(--customRed);
    border-bottom: solid .2rem var(--customRed);
}

#smallNavHeader {
    position: absolute;
    top: .5rem;
    right: 1rem;

    display: flex;
    align-items: center;
    gap: 2rem;

    font-size: 1.5rem;
    font-weight: 700;
    font-style: italic;
    letter-spacing: .05em;
    color: var(--customRed);

    transition: opacity 250ms ease-in-out;
}

nav img {
    width: 5rem;
    height: 5rem;
}


/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* Konfiguration von main */

h1, h2, h3, h4 {
    color: var(--customBlueTwo);
    font-weight: 700;
    font-style: italic;
    letter-spacing: 0.05em;
    line-height: 1.25em;
    margin: 1em 0 .5em 0;
}

h1 {
    font-size: clamp(3rem, 10vw, 5rem);
}

h2 {
    font-size: clamp(2.5rem, 7.5vw, 4.5rem);
}

h3 {
    font-size: clamp(2rem, 2.5vw, 3rem);
}

.sectionContent {
    display: grid;
    grid-template-columns: 2fr 1fr;

    font-size: 1.5rem;
    line-height: 1.5em;
}

.contentText,
.contentImg,
.articleContainer {
    grid-column: 1 / 3;
}

.contentImg {
    width: 100%;
}

.articleContainer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 1rem 0 0 0;
}

article {
    position: relative;
    width: 100%;
    padding: 0 1rem;
    border-radius: var(--defaultBorderRadius);
    box-shadow: .125rem .125rem .25rem var(--customRed);
    overflow: hidden;
}

.expandButton {
    position: absolute;
    bottom: -2rem;
    right: -2rem;

    transform: rotate(-45deg);

    width: 4rem;
    height: 4rem;

    background-color: var(--customRed);
    border-radius: var(--defaultBorderRadius);
    cursor: pointer;
}

.expandButtonElement {
    position: absolute;
    left: 50%;
    top: 15%;
    transform: translateX(-50%) rotate(-45deg);
    width: .75rem;
    height: .125rem;

    background-color: white;
    pointer-events: none;
    transition: transform 250ms ease-in-out;
}

.expandButtonElement::after {
    content: '';
    position: absolute;

    transform: rotate(-90deg);

    width: 100%;
    height: 100%;

    background-color: white;
    pointer-events: none;
}

.expandButton:hover > .expandButtonElement {
    transform: translateX(-50%) rotate(135deg);
}


#contactForm {
    width: 100%;
    grid-column: 1 / 3;
}

#contactForm > .formElementGroup:last-of-type {
    flex-direction: row;
    justify-content: center;
    padding: .5rem 0;
    margin: 2rem 0 2rem 0;
}

#contactForm .fegContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;
    margin: 0 0 1.5rem 0;
}

#contactForm .fegContainer:first-of-type {
    flex-direction: row;
}

#contactForm .fegContainer:not(:first-of-type) {
    justify-content: space-between;
}

#contactForm .formElementGroup {
    flex-direction: column;
    justify-content: flex-start;
    gap: .5rem;
}

#contactForm input[type='text'],
#contactForm input[type='email'],
#contactForm textarea {
    font-size: 1.5rem;
}

#contactForm textarea {
    font-family: 'Asap Condensed', sans-serif;
    height: 6rem;
    padding: .25rem;

    border: solid thin var(--cusotmBlueOne);
    border-radius: var(--defaultBorderRadius);
    transition: all 250ms ease-in-out;
}

button {
    width: 10em;
    color: white;
    font-size: 1rem;
    background-color: var(--customRed);

    border: solid thin transparent;
    border-radius: var(--defaultBorderRadius);
    padding: .5em;
    cursor: pointer;
    transition: all 250ms ease-in-out;
}

button:hover {
    border: solid thin white;
    transform: scale(1.02);
}

button[type='reset']:hover {
    box-shadow: .125rem .125rem .5rem var(--customRed);
}


/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* Konfiguration von aside (Login-Formular) */

.assideTitle {
    color: var(--customBlueTwo);
    font-size: 1.25rem;
    font-weight: 700;
    margin: 1em 0 .5em 0;
}

#loginForm {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    gap: 1rem;
}

.formElementGroup {
    display: flex;
    flex-direction: column;
}

#loginForm .formElementGroup > * {
    width: 10rem;

    font-size: 1rem;
    font-weight: bold;
}

#loginForm label {
    margin: 0 0 .5em 0;
}

input {
    height: 1.5em;

    padding: .25rem;
    border: solid thin var(--cusotmBlueOne);
    border-radius: var(--defaultBorderRadius);

    transition: all 250ms ease-in-out;
}

input:not([type='radio']):focus,
#contactForm textarea:focus {
    outline: none;
    border: solid .25rem var(--customBlueTwo);
    box-shadow: .12rem .12rem .5rem var(--cusotmBlueOne);
}

button[type='submit'] {
    background: var(--customBGgradient);
}

button[type='submit']:hover {
    box-shadow: .125rem .125rem .5rem var(--cusotmBlueOne);
}

.loginLink {
    display: block;
    font-size: .75rem;
    text-align: center;
    text-decoration: none;

    margin: 0 0 .5rem 0;
    transition: color 250ms ease-in-out, text-decoration 250ms ease-in-out;
}

.loginLink:link,
.loginLink:visited {
    color: lightgray;
}

.loginLink:hover {
    color: var(--customBlueTwo);
    text-decoration: underline;
}


/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */


footer {
    display: flex;
    flex-direction: column;
    justify-content: center;

    color: white;
    background-color: var(--customBlueTwo);

}

.footerBox {
    padding: 1rem 0;
}

.footerBox p {
    margin: 0;
}

.footerLink {
    display: block;
    font-weight: 700;
}

.footerLink:link,
.footerLink:visited {
    color: white;
    text-decoration: none;
}

.footerLink:hover {
    text-decoration: underline;
}



/*----------------------------------------------------------------------------*/
/* Layout für Viewports ab 640px (40em)                                       */
/*----------------------------------------------------------------------------*/
@media screen and (min-width: 40em) {
    body {
        background: var(--customBGgradient);
    }

    #smallNavHeader {
        opacity: 0;
        pointer-events: none;
    }

    header#pageHeader {
        grid-column: 1 / 3;
        grid-row: 1 / 2;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 2rem;

        padding-right: 5rem;
        opacity: 1;
    }

    nav {
        grid-row: 2 / 3;
        margin: 0 0 1rem 0;
    }

    #pageTitle {
        font-size: clamp(3rem, 10vw, 8rem);
        font-weight: 700;
        font-style: italic;
        letter-spacing: .05em;

        color: var(--customRed);
        -webkit-text-stroke-width: .2vw;
        -webkit-text-stroke-color: var(--customYellow);
        -moz-text-stroke-width: .2vw;
        -moz-text-stroke-color: var(--customYellow);
    }

    aside {
        grid-row: 3 / 4;
        border-radius: var(--defaultBorderRadius) var(--defaultBorderRadius) 0 0;
    }

    #loginForm {
        flex-direction: row;
        align-items: flex-end;
    }

    main {
        grid-row: 4 / 5;

        border-radius: 0 0 var(--defaultBorderRadius) var(--defaultBorderRadius);
        margin: 0 0 1rem 0;
    }

    .contentText {
        grid-column: 1 / 2;
    }
    .noImg {
        grid-column: 1 / 3;
    }

    .contentImg {
        grid-column: 2 / 3;
        margin: 1.5rem 0 0 0;
    }

    .articleContainer {
        flex-direction: row;
        flex-wrap: wrap;
    }

    article {
        flex: 1;
        min-width: 20rem;
    }

    #contactForm .fegContainer:not(:first-of-type) {
        flex-direction: row;
        justify-content: center;
    }

    #contactForm .fegContainer:not(:first-of-type) > .formElementGroup {
        flex: 1;
    }

    #contactForm .fegContainer > .formElementGroup * {
        width: 100%;
    }

    footer {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}

/*----------------------------------------------------------------------------*/
/* Layout für Viewports ab 1024px (64em)                                      */
/*----------------------------------------------------------------------------*/
@media screen and (min-width: 64em) {
    #navButton {
        display: none;
    }

    #pageNav {
        height: 3rem;
        flex-direction: row;
        gap: 1.5rem;
    }

    .pageNavLink {
        font-size: 1.75rem;
    }

    main {
        grid-column: 1 / 2;
        grid-row: 3 / 5;

        border-radius: var(--defaultBorderRadius) 0 0 var(--defaultBorderRadius);
    }

    aside {
        grid-column: 2 / 3;
        grid-row: 3 / 5;

        border-radius: 0 var(--defaultBorderRadius) var(--defaultBorderRadius) 0;
        margin: 0 0 1rem 0;
    }


    #loginForm {
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .formElementGroup,
    .formElementGroup > *,
    button[type='submit'] {
        width: 90%;
    }

    #loginForm .formElementGroup {
        margin: 0 0 0 1rem;
    }

    #contactForm .fegContainer:first-of-type {
        justify-content: flex-start;
    }

    #contactForm .fegContainer:first-of-type .formElementGroup {
        flex-direction: row;
        width: initial;
    }

    #contactForm > .formElementGroup,
    #contactForm > .formElementGroup *{
        width: 100%;
    }

}